*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background: #141d26;
}

.box{
    width: 470px;
    background: #141d26;
    border-radius: 5px;
    padding: 25px 25px 30px;
    box-shadow: 8px 8px 10px rgba(0,0,0,0.06);
}

.box h2{
    color: #34bab0;
    font-size: 28px;
    text-align: center;
}

.box textarea{
    width: 100%;
    resize: none;
    height: 59px;
    outline: none;
    padding: 15px;
    font-size: 16px;
    margin-top: 20px;
    border-radius: 5px;
    max-height: 1000px;
    border-color: #34bab0;
}

textarea::placeholder{
    color: #b3b3b3;
}

textarea:is(:focus, :valid){
    padding: 14px;
    border-color: #34bab0;
}

textarea::-webkit-scrollbar{
    width: 0px;
}