@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: grid;
    place-items: center;
    min-height: 100vh;
    background-color: #141d26;
}

.container {
    display: flex;
}
.num {
    color: #fff;
    background-color: transparent;
    width: 100px;
    text-align: center;
    outline: none;
    padding: 2rem 1rem;
    margin: 0 1rem;
    font-size: 3rem;
    border: 1px solid rgba(255, 255, 255, .3);
    border-radius: .5rem;
    color: #34bab0;
}
.space {
    width: 3rem;
}
.num:focus,
.num:valid {
    box-shadow: 0 0 .5rem #34bab0,
                inset 0 0 .5rem #34bab0;
    border-color: #6b6b6ba5;
}

input[type="number"] {
    appearance: textfield;
    -moz-appearance: textfield;
  }
  input[type="number"]:hover,
  input[type="number"]:focus {
    appearance: number-input;
    -moz-appearance: number-input;
  }