body {
    margin: 0;
    padding: 0;
    background-color: #141d26;
    font-family: sans-serif;
}

.loginbox {
    width: 320px;
    height: 400px;
    background: #292929;
    color: #fff;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 50px;
    border-radius: 10px;
}

h1 {
    margin: 0;
    padding: 0 0 15px;
    text-align: center;
    font-size: 28px;
}

.field {
    position: relative;
    height: 52px;
    width: 100%;
    max-width: 800px;
    color: white;
    overflow: hidden;
}

.field input {
    position: absolute;
    height: 100%;
    width: 100%;
    color: white;
    line-height: 52px;
    outline: 0;
    background-color: inherit;
    padding-top: 25px;
    border: none;
    box-sizing: border-box;
}

.field .label-wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    bottom: 0; 
    background-color: inherit;
    left: 0;
    pointer-events: none;
    border-bottom: 1px solid #34bab0;
}

.field .label-wrapper::after {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-bottom: 3px splid #ff9950;
    left: 0;
    bottom: -1px;
    transform: translateX(-100%);
    transition: transform 0.2s ease;
}

.field .label-text {
    position:  absolute;
    bottom: 5px;
    left: 0px;
    transition: all 0.2s ease;
    font-size: 18px;
}

.field input:focus + .label-wrapper .label-text,

.field input:valid + .label-wrapper .label-text {
    transform: translateY(-150%);
    font-size: 14px;
    color: #34bab0;
}

.field input:focus + .label-wrapper::after,
.field input:valid + .label-wrapper::after {
    transform: translateX(0%);
}

.loginbox input[type="submit"] {
    width: 100%;
    border: none;
    outline: none;
    height: 40px;
    background: #34bab0;
    color: #fff;
    font-size: 20px;
    margin-top: 30px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background-color: white;
    color: #000;
}